<footer class="h-[80px] w-full footer-default grid grid-cols-2">
  <section>
    <label class="text-inline"
      >Platform Training - By
      <a
        href="https://www.linkedin.com/in/luis-antonio-calvo-quispe-57a33b229/"
        target="_blank"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
        >Luis Antonio Calvo Quispe</a
      >
    </label>
    <br />
    <label class="text-inline">Todos los derechos reservados</label>
  </section>
  <section
    class="grid grid-cols-3 md:grid-cols-2 gap-x-4 w-full h-full justify-items-center"
  >
    <label class="text-xs text-slate-800 dark:text-gray-400 m-auto"
      >Technology Stack</label
    >
    <ol
      class="col-span-2 md:col-span-1 flex h-full w-full items-center justify-center"
    >
      <li
        class="flex w-full items-center text-blue-600 after:inline-block after:h-1 after:w-full after:border-4 after:border-b after:border-blue-100 after:content-[''] dark:text-blue-500 dark:after:border-blue-800"
      >
        <span
          class="flex h-8 w-8 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-800 lg:h-10 lg:w-10"
        >
          <img
            src="../../../../../../assets/svg/postgresql-icon.svg"
            alt=""
            width="70%"
            height="70%"
          />
        </span>
      </li>
      <li
        class="flex w-full items-center after:inline-block after:h-1 after:w-full after:border-4 after:border-b after:border-gray-100 after:content-[''] dark:after:border-gray-700"
      >
        <span
          class="flex h-8 w-8 shrink-0 items-center justify-center rounded-full bg-gray-100 dark:bg-gray-700 lg:h-10 lg:w-10"
        >
          <img
            src="../../../../../../assets/svg/springio-icon.svg"
            alt=""
            width="70%"
            height="70%"
          />
        </span>
      </li>
      <li class="flex w-full items-center">
        <span
          class="flex h-8 w-8 shrink-0 items-center justify-center rounded-full bg-gray-100 dark:bg-gray-700 lg:h-10 lg:w-10"
        >
          <img
            src="../../../../../../assets/svg/angular-icon.svg"
            alt=""
            width="70%"
            height="70%"
          />
        </span>
      </li>
    </ol>
  </section>
</footer>
