<section class="dialog-container w-full h-auto flex-col justify-center items-center space-y-4">
  <div class="flex justify-center">
    <fa-icon *ngIf="this.mensaje.status === 0" [icon]="faTrash" size="2xl" class="text-red-600"></fa-icon>
    <fa-icon *ngIf="this.mensaje.status === 1" [icon]="faTrashArrowUp" size="2xl" class="text-yellow-700"></fa-icon>
  </div>
  <div class="text-center text-inline">{{ this.mensaje.message }}</div>
  <div class="flex justify-around">
    <app-button-question
      (click)="closeDialog(true)"
      colorBtn="red"
      typeBtn="button">
      Si
    </app-button-question>
    <app-button-question
      (click)="closeDialog(false)"
      colorBtn="green"
      typeBtn="button">
      No
    </app-button-question>
  </div>
</section>
