<main class="default-container grid h-full grid-cols-5 xl:grid-cols-7">
  <section class="col-span-3 xl:col-span-5">
    <img
      loading="lazy"
      class="h-full bg-cover"
      src="https://static.vecteezy.com/system/resources/previews/004/601/957/non_2x/online-video-streaming-concept-with-video-player-and-icon-social-media-with-line-style-free-vector.jpg"
      alt="logo"
    />
  </section>
  <section class="fixed right-0 top-0">
    <app-theme-switcher [openSidebar]="true"></app-theme-switcher>
  </section>
  <article class="dialog-container col-span-2 mx-auto my-auto h-[650px] w-full">
    <article>
      <app-login-form></app-login-form>
    </article>
    <article
      class="mx-auto flex h-[180px] w-[360px] flex-row justify-around space-x-4 rounded-lg bg-slate-900 py-2 dark:bg-slate-100 md:w-[280px]"
    >
      <span
        class="my-auto text-base tracking-tight text-gray-200 dark:font-semibold dark:text-slate-800"
      >
        User: <span class="text-sky-800 dark:text-sky-700">TEST</span>
      </span>
      <span
        class="my-auto text-base tracking-tight text-gray-200 dark:font-semibold dark:text-slate-800"
      >
        Pass: <span class="text-sky-800 dark:text-sky-700">1073741824</span>
      </span>
    </article>
    <article
      class="mx-auto h-[180px] w-[360px] space-y-4 rounded-lg bg-slate-900 py-4 dark:bg-slate-100 md:w-[280px]"
    >
      <article class="flex flex-row justify-around">
        <span
          class="my-auto text-center text-base tracking-tight text-gray-200 dark:font-semibold dark:text-slate-800"
        >
          By Luis Antonio Calvo Quispe
        </span>
      </article>
      <article class="mx-6 grid grid-cols-4">
        <span
          class="col-span-2 text-base tracking-tight text-gray-200 dark:font-semibold dark:text-slate-800"
        >
          Contact
        </span>
        <div class="col-span-2 flex flex-row justify-around">
          <a
            href="https://www.linkedin.com/in/luis-antonio-calvo-quispe-57a33b229/"
            target="_blank"

          >
            <div class="menu-siderbar-icon-inverse">
              <fa-icon
                class="icon-operac-inverse"
                [icon]="faLinkedin"
                size="xl"
              ></fa-icon>
            </div>
          </a>
          <a href="https://github.com/luis122448" target="_blank">
            <div class="menu-siderbar-icon-inverse">
              <fa-icon
                class="icon-operac-inverse"
                [icon]="faGitHub"
                size="xl"
              ></fa-icon>
            </div>
          </a>
          <a href="https://luis122448.com" target="_blank">
            <div class="menu-siderbar-icon-inverse">
              <fa-icon
                class="icon-operac-inverse"
                [icon]="faFolderOpen"
                size="xl"
              ></fa-icon>
            </div>
          </a>
        </div>
      </article>
      <article class="mx-6 grid grid-cols-3">
        <span
          class="col-span-1 text-base tracking-tight text-gray-200 dark:font-semibold dark:text-slate-800"
        >
          Tell me
        </span>
        <div class="col-span-2 flex flex-row justify-around">
          <span
            class="my-auto tracking-tight text-gray-200 dark:font-semibold dark:text-slate-800"
            >+51 939232327</span
          >
          <a href="https://wa.me/51939232327?text=Hola" target="_blank">
            <div class="menu-siderbar-icon-inverse">
              <fa-icon
                class="icon-operac-inverse"
                [icon]="faWhatsappSquare"
                size="2xl"
              ></fa-icon>
            </div>
          </a>
          <a href="https://t.me/luis122448" target="_blank">
            <div class="menu-siderbar-icon-inverse">
              <fa-icon
                class="icon-operac-inverse"
                [icon]="faTelegram"
                size="xl"
              ></fa-icon>
            </div>
          </a>
        </div>
      </article>
    </article>
    <section class="space-y-2">
      <article class="flex flex-row justify-around">
        <a
          href="https://github.com/luis122448/smart-shell-angular"
          target="_blank"
        >
          <img
            alt="Angular"
            src="https://img.shields.io/badge/Angular%20-%23D00000.svg?logo=Angular&logoColor=white"
          />
        </a>
        <a
          href="https://github.com/luis122448/smart-shell-springboot"
          target="_blank"
        >
          <img
            alt="Spring"
            src="https://img.shields.io/badge/Spring%20Boot%20-%2334A853.svg?logo=Springboot&logoColor=white"
          />
        </a>
        <a
          href="https://github.com/luis122448/smart-shell-postgres"
          target="_blank"
        >
          <img
            alt="Static Badge"
            src="https://img.shields.io/badge/PostgreSQL-8A2BE2?logo=postgresql&logoColor=white&color=blue"
          />
        </a>
      </article>
      <article class="flex flex-row justify-around">
        <a
          href="https://github.com/luis122448/smart-shell-mongo"
          target="_blank"
        >
          <img
            alt="Static Badge"
            src="https://img.shields.io/badge/MongoDB-8A2BE2?logo=mongodb&logoColor=white&color=green"
          />
        </a>
        <a
          href="https://github.com/luis122448/smart-shell-redis"
          target="_blank"
        >
          <img
            alt="Static Badge"
            src="https://img.shields.io/badge/Redis-8A2BE2?logo=redis&logoColor=white&color=red"
          />
        </a>
      </article>
    </section>
  </article>
</main>
<ngx-spinner
  bdColor="rgba(0,0,0,0.5)"
  size="large"
  color="#ffffff"
  type="ball-spin-clockwise"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
