<main
  class="sidebar-left"
  (mouseenter)="!(openSidebar = true)"
  (mouseleave)="!(openSidebar = false)"
  [class.sidebar-left-open]="openSidebar"
>
  <section class="menu-sidebar">
    <article class="menu-sidebar-icon h-10 w-10">
      <img
        [src]="userCourseModel?.urlIcon"
        [alt]="userCourseModel?.title"
        class="object-fill h-10 w-10 rounded-full"
      />
    </article>
    <span class="menu-sidebar-text" [class.display-none]="!openSidebar">
      {{ userCourseModel?.title }}
    </span>
  </section>
  <section>
    <ol
      class="px-2 py-4 relative text-gray-500 border-gray-200 dark:border-gray-700 dark:text-gray-400"
    >
      <div *ngFor="let item of listUserClassModel">
        <div *ngIf="item.position > 1">
          <div
            class="absolute left-6 pointer-events-none h-12 w-0.5"
            [ngClass]="{
              'bg-green-700': item.finalized,
              'bg-slate-600': !item.finalized
            }"
          ></div>
          <div
            class="absolute left-6 pointer-events-none h-6 w-0.5"
            [ngClass]="{
              'bg-green-700': item.finalized,
              'bg-slate-600': !item.finalized
            }"
          ></div>
        </div>
        <app-item-list-class
          [isOpenSidebar]="openSidebar"
          (click)="onClickClass(item.idClass, item.typeClass)"
          [objectUserClassModel]="item"
        ></app-item-list-class>
      </div>
    </ol>
  </section>
  <section class="menu-sidebar">
    <article class="menu-sidebar-icon h-10 w-10">
      <img
        [src]="userCourseModel?.urlIcon"
        [alt]="userCourseModel?.title"
        class="object-fill h-10 w-10 rounded-full"
      />
    </article>
    <span class="menu-sidebar-text" [class.display-none]="!openSidebar">
      {{ userCourseModel?.title }}
    </span>
  </section>
</main>
