<main
  class="sidebar-left"
  (mouseenter)="!(openSidebar = true)"
  (mouseleave)="!(openSidebar = false)"
>
  <div class="menu-sidebar">
    <div class="menu-siderbar-icon">
      <img
        [src]="objectUserCourseModel()?.urlIcon"
        [alt]="objectUserCourseModel()?.title"
        class="icon-operac"
      />
    </div>
      <h2 class="menu-sidebar-text" [class.display-none]="!openSidebar">{{
        objectUserCourseModel()?.title
      }}</h2>
  </div>
  <ol
    class="px-2 py-4 relative text-gray-500 border-gray-200 dark:border-gray-700 dark:text-gray-400"
  >
    <div *ngFor="let item of listUserClassModel()">
      <div>
        <div class="absolute left-6 pointer-events-none h-10 w-1"
        [ngClass]="{ 'bg-green-700': item.finalized, 'bg-slate-600': !item.finalized }"></div>
      </div>
      <app-item-list-class
        [isOpenSidebar]="openSidebar"
        (click)="onClickClass(item.idClass)"
        [objectUserClassModel]="item"
      ></app-item-list-class>

    </div>
  </ol>
</main>
