<main class="pt-2 pb-2 px-2 space-y-2">
  <section class="flex flex-row justify-between">
    <article class="flex flex-row justify-start">
      <h2 class="text-2xl font-bold text-left">
        {{ userClassModel?.title }}
      </h2>
      <div
        class="rounded-md border-2 bg-transparent ml-2 w-28 h-8 flex items-center justify-around border-slate-400 dark:border-slate-400"
      >
        <span class="text-center font-semibold"
          >Clase {{ userClassModel?.position }} / {{ countClass }}</span
        >
      </div>
    </article>
    <article class="">
      <ul class="flex items-center -space-x-px h-10 text-base">
        <li>
          <button class="button-preview" (click)="previewClass()">
            <span class="sr-only">Previous</span>
            <svg
              class="w-3 h-3 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4"
              />
            </svg>
          </button>
        </li>
        <li>
          <button class="button-next" (click)="nextClass()">
            <span class="sr-only">Next</span>
            <svg
              class="w-3 h-3 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
          </button>
        </li>
      </ul>
    </article>
  </section>
  <section class="flex flex-row justify-start space-x-4">
    <div
      class="flex flex-col items-center justify-start border-2 rounded-full h-8 w-8 border-slate-400 dark:border-slate-400"
    >
      <img
        [src]="userCourseModel?.urlIcon"
        [alt]="userCourseModel?.title"
        class="w-6 h-6 rounded-full object-cover"
      />
    </div>
    <div class="flex flex-col items-center justify-start">
      <p class="text-lg font-semibold text-slate-800 dark:text-slate-400">
        {{ userCourseModel?.title }}
      </p>
    </div>
  </section>
  <section>
    <p class="text-basic">
      {{ userClassModel?.description }}
    </p>
  </section>
</main>
