<main
  class="h-full w-full flex flex-col justify-center overflow-hidden background-default"
>
  <header class="h-[75px] w-full">
    <app-header></app-header>
  </header>
  <main class="main-container background-default">
    <div class="body-container">
      <app-info-course [userCourseModel]="userCourseModel()"></app-info-course>
      <app-list-class-preview
        [userCourseModel]="userCourseModel()"
        [listUserClassModel]="listUserClassModel()"
      ></app-list-class-preview>
    </div>
  </main>
  <footer class="h-[75px] w-full">
    <app-footer></app-footer>
  </footer>
</main>
