<ng-container [ngSwitch]="this.mensaje.status">
  <section
    *ngSwitchCase="1"
    class="dialog-alert-container"
  >
    <div class="flex justify-center">
      <fa-icon [icon]="faCircleMinus" size="2xl" class="text-sky-600"></fa-icon>
    </div>
    <div class="text-inline text-center font-semibold dark:font-normal">{{ this.mensaje.message }}</div>
    <div class="flex justify-center gap-x-4">
      <app-button-standard
        (click)="onClose()"
        colorBtn="sky"
        optionBtn="close"
        typeBtn="button"
      >
        Close
      </app-button-standard>
    </div>
  </section>
  <section
    *ngSwitchCase="0"
    class="dialog-alert-container"
  >
    <div class="flex justify-center">
      <fa-icon [icon]="faCircleInfo" size="2xl" class="text-sky-600"></fa-icon>
    </div>
    <div class="text-inline text-center font-semibold dark:font-normal">{{ this.mensaje.message }}</div>
    <div class="flex justify-center gap-x-4">
      <app-button-standard
        (click)="onClose()"
        colorBtn="sky"
        optionBtn="close"
        typeBtn="button"
      >
        Close
      </app-button-standard>
    </div>
  </section>
  <section
    *ngSwitchCase="-1"
    class="dialog-alert-container"
  >
    <div class="flex justify-center">
      <fa-icon
        [icon]="faCircleExclamation"
        size="2xl"
        class="text-yellow-700"
      ></fa-icon>
    </div>
    <div class="text-inline text-center font-semibold dark:font-normal">{{ this.mensaje.message }}</div>
    <div class="flex justify-center gap-x-4">
      <app-button-standard
        (click)="onClose()"
        colorBtn="sky"
        optionBtn="close"
        typeBtn="button"
      >
        Close
      </app-button-standard>
      <app-button-standard
        *ngIf="this.mensaje.logMessage!"
        (click)="onWarning()"
        colorBtn="yellow"
        optionBtn="info"
        typeBtn="button"
      >
        Warning
      </app-button-standard>
    </div>
    <div
      *ngIf="this.varWarning"
      class="flex flex-col w-auto rounded-lg bg-yellow-50 mt-4 p-2 font-medium text-yellow-800 dark:bg-gray-800 dark:text-yellow-300 text-wrap"
    >
      <span class="font-semibold">Cause :</span>
      <span class="text-start block break-all">{{ this.mensaje.logMessage }}</span>
    </div>
  </section>
  <ng-template ngSwitchDefault>
    <section
      class="dialog-alert-container"
    >
      <div class="flex justify-center">
        <fa-icon
          [icon]="faCircleXmark"
          size="2xl"
          class="text-red-600"
        ></fa-icon>
      </div>
      <div class="text-inline text-center font-semibold dark:font-normal">{{ this.mensaje.message }}</div>
      <div class="flex justify-center gap-x-4">
        <app-button-standard
          (click)="onClose()"
          colorBtn="sky"
          optionBtn="close"
          typeBtn="button"
        >
          Close
        </app-button-standard>
        <app-button-standard
          *ngIf="this.mensaje.logMessage!"
          (click)="onReport()"
          colorBtn="red"
          optionBtn="report"
          typeBtn="button"
        >
          Report
        </app-button-standard>
      </div>
      <div
        *ngIf="this.varError"
        class="flex flex-col w-auto rounded-lg bg-red-50 mt-4 p-2 font-medium text-red-800 dark:bg-gray-800 dark:text-red-400 text-wrap"
      >
        <span class="font-semibold">Cause :</span>
        <span class="text-start block break-all">{{ this.mensaje.logMessage }}</span>
      </div>
    </section>
  </ng-template>
</ng-container>
