<section class="flex h-full w-full rounded-full">
  <article [class.display-none]="!isOpenSidebar" class="relative">
    <input
      type="checkbox"
      name="themeSwitcher"
      id="themeSwitcher"
      class="hidden"
      (click)="onChange(true)"
    />
    <label for="themeSwitcher" class="relative cursor-pointer">
      <div class="flex h-10 w-24 items-center rounded-full bg-gray-300">
        <fa-icon
          [icon]="faSun"
          [class.light]="!isDark"
          class="absolute left-2 z-10 p-2"
          size="lg"
        ></fa-icon>
        <div
          class="switchball absolute left-2 h-8 w-8 rounded-full bg-white shadow"
        ></div>
        <fa-icon
          [icon]="faMoon"
          [class.dark]="isDark"
          class="absolute right-2 z-10 p-2"
          size="lg"
        ></fa-icon>
      </div>
    </label>
    <!-- <span class="menu-sidebar-text" [class.display-none]="!openSidebar">{{ isDark ? 'Dark Mode' : 'Ligth Mode' }}</span> -->
  </article>
  <article [class.display-none]="isOpenSidebar" class="menu-sidebar">
    <div
      for="themeSwitcher"
      [ngSwitch]="this.isDark"
      class="menu-siderbar-icon"
    >
      <fa-icon
        *ngSwitchCase="false"
        [icon]="faSun"
        [class.light]="!isDark"
        class="icon-operac"
        size="lg"
      ></fa-icon>
      <fa-icon
        *ngSwitchCase="true"
        [icon]="faMoon"
        [class.dark-alternative]="isDark"
        class="icon-operac"
        size="lg"
      ></fa-icon>
    </div>
    <span class="menu-sidebar-text" [class.display-none]="isOpenSidebar">{{
      isDark ? "Dark Mode" : "Ligth Mode"
    }}</span>
  </article>
</section>
