<section>
  <!-- <div class="sidebar-section-text">Tema : </div> -->
  <div class="flex flex-row justify-center items-center space-x-2 mx-auto float-right">
    <div class="m-auto">
      <input type="checkbox" name="themeSwitcher" id="themeSwitcher" class="hidden"/>
      <label for="themeSwitcher" class="relative cursor-pointer">
        <div class="w-24 h-10 flex items-center bg-gray-300 rounded-sm">
          <fa-icon [icon]="faSun" class="absolute left-2 p-2 z-10"></fa-icon>
          <div class="absolute left-2 switchball w-8 h-8 bg-white rounded-sm shadow"></div>
          <fa-icon [icon]="faMoon" class="absolute right-2 p-2 z-10"></fa-icon>
        </div>
      </label>
    </div>
  </div>
</section>
