<main class="h-full w-full flex flex-col justify-center overflow-hidden">
  <header class="h-[75px] w-full">
    <app-header></app-header>
  </header>
  <main class="main-container">
    <section class="left-container">
      <app-list-class></app-list-class>
    </section>
    <section class="body-container">
      <app-video-class></app-video-class>
      <app-info-class></app-info-class>
      <app-resources-class></app-resources-class>
    </section>
    <section class="rigth-container">
      <app-comment-class></app-comment-class>
    </section>
  </main>
  <footer class="h-[75px] w-full">
    Footer
  </footer>
</main>
