<main
  class="h-full w-full flex flex-col justify-center overflow-hidden background-default"
>
  <header class="h-[75px] w-full">
    <app-header></app-header>
  </header>
  <main class="main-container">
    <section class="left-container">
      <app-list-class
        [listUserClassModel]="listUserClassModel()"
        [userCourseModel]="userCourseModel()"
        (changeSpecificClass)="changeSpecificClass($event)"
      ></app-list-class>
    </section>
    <section class="body-container">
      <app-video-class [userClassModel]="userClassModel()"></app-video-class>
      <app-info-class
        [userClassModel]="userClassModel()"
        [userCourseModel]="userCourseModel()"
        [countClass]="countClass()"
        (changeClass)="changeClass($event)"
      ></app-info-class>
      <app-resources-class
        [userClassModel]="userClassModel()"
      ></app-resources-class>
    </section>
    <section class="rigth-container">
      <app-comment-class
        [userClassModel]="userClassModel()"
      ></app-comment-class>
    </section>
  </main>
  <footer class="h-[75px] w-full">
    <app-footer></app-footer>
  </footer>
</main>
