<form action="#" [formGroup]="myCommentForm">
  <main class="box-comment-container" [class.display-none]="!isOpenSidebar">
    <section class="box-comment-header">
      <div class="col-span-1">
        <button>
          <app-font-icon
            [colorIcon]="'sky'"
            [sizeIcon]="'xs'"
            [optionIcon]="'bold'"
            [isBox]="false"
          ></app-font-icon>
        </button>
        <button>
          <app-font-icon
            [colorIcon]="'sky'"
            [sizeIcon]="'xs'"
            [optionIcon]="'italic'"
            [isBox]="false"
          ></app-font-icon>
        </button>
        <button>
          <app-font-icon
            [colorIcon]="'sky'"
            [sizeIcon]="'xs'"
            [optionIcon]="'underline'"
            [isBox]="false"
          ></app-font-icon>
        </button>
      </div>
      <div class="col-span-1">
        <button>
          <app-font-icon
            [colorIcon]="'sky'"
            [sizeIcon]="'xs'"
            [optionIcon]="'quote-left'"
            [isBox]="false"
          ></app-font-icon>
        </button>
        <button>
          <app-font-icon
            [colorIcon]="'sky'"
            [sizeIcon]="'xs'"
            [optionIcon]="'list-ol'"
            [isBox]="false"
          ></app-font-icon>
        </button>
        <button>
          <app-font-icon
            [colorIcon]="'sky'"
            [sizeIcon]="'xs'"
            [optionIcon]="'list-ul'"
            [isBox]="false"
          ></app-font-icon>
        </button>
      </div>
      <div class="col-span-1">
        <button>
          <app-font-icon
            [colorIcon]="'sky'"
            [sizeIcon]="'xs'"
            [optionIcon]="'code'"
            [isBox]="false"
          ></app-font-icon>
        </button>
        <button>
          <app-font-icon
            [colorIcon]="'sky'"
            [sizeIcon]="'xs'"
            [optionIcon]="'link'"
            [isBox]="false"
          ></app-font-icon>
        </button>
        <button>
          <app-font-icon
            [colorIcon]="'sky'"
            [sizeIcon]="'xs'"
            [optionIcon]="'image'"
            [isBox]="false"
          ></app-font-icon>
        </button>
      </div>
      <div class="col-span-1">
        <button class="flex justify-center">
          <app-font-icon
            [colorIcon]="'sky'"
            [sizeIcon]="'xs'"
            [optionIcon]="'eye'"
            [isBox]="false"
          ></app-font-icon>
          <span class="basic-text my-auto">Preview</span>
        </button>
      </div>
    </section>
    <section class="box-coment-detail relative">
      <div class="h-full w-full" (click)="onClickComment()">
        <textarea
          name="newComment"
          id="newComment"
          class="textarea-comment"
          cols="30"
          rows="10"
          formControlName="markdownContent"
        ></textarea>
        <div [ngClass]="{'hidden': !isShowHelp}">
          <img
            [src]="basicUser?.urlPhoto"
            [alt]="basicUser?.name"
            class="w-10 h-10 object-cover absolute top-2 left-4 rounded-full"
          />
          <p class="absolute top-4 left-16 italic text-sm">
            Escribe tu aporte o pregunta
          </p>
        </div>
      </div>
    </section>
    <section class="box-comment-footer">
      <div class="col-span-1 ml-2 flex flex-row justify-betwee items-center" [ngClass]="{'hidden' : idCommentRef != 0}">
        <div class="flex flex-row justify-start items-center space-x-2">
          <input
            type="radio"
            id="aport"
            class="radio-default"
            name="typeComment"
            value="CONTRIBUTION"
            formControlName="typeComment"
          />
          <label for="aport" class="basic-text">Aporte</label>
          <input
            type="radio"
            id="question"
            class="radio-default"
            name="typeComment"
            value="QUESTION"
            formControlName="typeComment"
          />
          <label for="question" class="basic-text">Pregunta</label>
        </div>
      </div>
      <div class="col-span-1 flex justify-end">
        <app-button-standard
          [typeBtn]="'submit'"
          [optionBtn]="'reply'"
          [colorBtn]="'transparent'"
          (click)="onSendComment()"
        >
          Publicar
        </app-button-standard>
      </div>
    </section>
  </main>
</form>
