<main
  class="sidebar-rigth px-2 py-4"
  (mouseenter)="!(openSidebar = true)"
  (mouseleave)="!(openSidebar = false)"
  [class.sidebar-open]="openSidebar"
>
  <app-box-comment
    [isOpenSidebar]="openSidebar"
    [idClass]="idClass()"
    [idCommentRef]="0"
    (registerComment)="registerComment($event)"
  ></app-box-comment>
  <section [class.display-none]="!openSidebar">
    <section class="py-2 grid grid-cols-4">
      <article class="col-span-1">
        <span class="basic-text">Ordenar por :</span>
      </article>
      <article class="col-span-3 flex flex-row justify-around">
        <span class="basic-tag-indigo">Mas Votados</span>
        <span class="basic-tag-indigo">Nuevos</span>
        <span class="basic-tag-indigo">Sin Responder</span>
      </article>
    </section>
  </section>
  <section>
    <app-item-comment-class
      *ngFor="let item of listCommentClassModel()"
      [commentClass]="item"
      [isOpenSidebar]="openSidebar"
      [idClass]="idClass()"
    ></app-item-comment-class>
  </section>
</main>
