<section
  class="menu-sidebar"
  *ngIf="objectUserClassModel?.typeClass !== 'TAG'; else isDividerSection"
>
  <section [ngSwitch]="status" class="menu-sidebar-icon">
    <div *ngSwitchCase="'complete'">
      <app-font-icon
        [optionIcon]="'circle'"
        [colorIcon]="'green'"
        [isDivider]="false"
        [sizeIcon]="'lg'"
        [number]="objectUserClassModel?.position || 0"
      ></app-font-icon>
    </div>
    <div *ngSwitchCase="'incomplete'">
      <app-font-icon
        [optionIcon]="'circle'"
        [colorIcon]="'gray'"
        [isDivider]="false"
        [sizeIcon]="'lg'"
        [number]="objectUserClassModel?.position || 0"
      ></app-font-icon>
    </div>
    <div *ngSwitchCase="'notShow'">
      <app-font-icon
        [optionIcon]="'circle'"
        [colorIcon]="'gray'"
        [isDivider]="false"
        [sizeIcon]="'lg'"
        [number]="objectUserClassModel?.position || 0"
      ></app-font-icon>
    </div>
    <div *ngSwitchDefault></div>
  </section>
  <span class="menu-sidebar-text" [class.display-none-left]="!isOpenSidebar">{{
    objectUserClassModel?.title
  }}</span>
</section>
<ng-template #isDividerSection>
  <section class="menu-sidebar-no-hover">
    <article class="menu-sidebar-icon">
      <app-font-icon
        [optionIcon]="'flag'"
        [colorIcon]="'sky'"
        [isDivider]="true"
        [number]="objectUserClassModel?.position || 0"
      ></app-font-icon>
    </article>
    <span
      class="menu-sidebar-text"
      [class.display-none-left]="!isOpenSidebar"
      >{{ objectUserClassModel?.title }}</span
    >
  </section>
</ng-template>
