// Layout Menu
.main-container {
  @apply m-auto h-screen flex-col justify-around bg-slate-100 dark:bg-slate-900 dark:text-gray-400;
}

.body-container{
  @apply bg-slate-100 dark:bg-slate-900 dark:text-gray-400;
}

.sub-main-container {
  @apply h-full space-y-6 bg-slate-100 dark:bg-slate-900 dark:text-gray-400;
}

.items-container {
  @apply grid w-full grid-cols-2 space-x-2 px-4;
}

.left-container {
  @apply z-10 h-full w-[80px] overflow-hidden
  xl:w-[250px] xl:overflow-auto
  2xl:w-[250px] 2xl:overflow-auto;
}

.rigth-container {
  @apply z-10 h-full w-[80px] overflow-hidden
  lg:w-[450px] lg:overflow-auto
  xl:w-[450px] xl:overflow-auto
  2xl:w-[500px] 2xl:overflow-auto;
}

.sidebar-left {
  @apply relative z-30 h-full w-[80px] space-y-2 divide-y divide-dotted divide-slate-500 bg-slate-50 px-4
  py-4 shadow-xl
  transition-all duration-500 dark:bg-slate-900
  dark:text-slate-400 hover:max-lg:absolute
  hover:max-xl:left-0
  hover:max-xl:w-[250px]
  xl:w-full;
}

.sidebar-rigth {
  @apply relative z-30 h-full w-[80px] space-y-2 divide-y divide-dotted divide-slate-500 bg-slate-50 px-4
  py-4 shadow-xl
  transition-all duration-500 dark:bg-slate-900
  dark:text-slate-400 hover:max-lg:absolute
  hover:max-lg:right-0
  hover:max-lg:w-[450px]
  lg:w-full;
}

// Menu Sidebar
.menu-sidebar {
  @apply my-auto grid w-full grid-cols-5 rounded-md p-2 space-x-2
  text-left text-slate-700
  hover:bg-blue-100 hover:font-normal hover:text-blue-500
  dark:text-gray-400
  dark:hover:bg-slate-500 dark:hover:font-normal dark:hover:text-gray-50;
}

.menu-sidebar-left {
  @apply my-auto grid w-full grid-cols-5 rounded-md p-2
  text-left text-slate-700
  hover:bg-blue-100 hover:font-normal hover:text-blue-500
  dark:text-gray-400
  dark:hover:bg-slate-500 dark:hover:font-normal dark:hover:text-gray-50;
}

.menu-sidebar-icon {
  @apply relative col-span-1 h-6 w-6 text-slate-700 dark:text-gray-400;
}

.menu-sidebar-icon-inverse {
  @apply relative col-span-1 h-6 w-6 dark:text-slate-700 text-gray-400;
}

.menu-sidebar-text {
  @apply my-auto font-semibold dark:font-normal col-span-4 whitespace-normal text-xs text-slate-800 dark:text-gray-400;
}

.display-none {
  @media (max-width: 1024px) {
    display: none;
  }
  transition: all;
  animation-duration: 500ms;
}

.display-none-left {
  @media (max-width: 1280px) {
    display: none;
  }
  transition: all;
  animation-duration: 500ms;
}

.sidebar-left-open {
  @apply overflow-auto
}

.sidebar-open {
  @apply overflow-auto
}

// Header y Footer

.footer-default {
  @apply m-auto bg-slate-100 p-4 dark:bg-slate-900 dark:text-gray-400;
}

.nav-option {
  @apply block rounded py-2 pl-3 pr-4 text-gray-900 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:p-0 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent md:dark:hover:text-blue-500
}

